<!-- fragments/header.html -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<header class="site-header" th:fragment="header">
    <nav class="nav">
        <div class="logo">BestAutoService</div>

        <ul class="menu">
            <a th:href="@{/register}" sec:authorize="!isAuthenticated()">Register</a>
            <a th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>

            <a th:href="@{/admin/dashboard}" sec:authorize="hasRole('ADMIN')">Admin Panel</a>

            <a th:href="@{/home}" sec:authorize="isAuthenticated()">My Service</a>
            <a th:href="@{/my_vehicles}" sec:authorize="isAuthenticated()">My Vehicles</a>
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/profile}">My Profile</a>
            </li>

            <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
        </ul>

        <div class="nav-right">
            <span sec:authorize="isAuthenticated()">
                Welcome, <b th:text="${loggedUserName != null ? loggedUserName : #authentication.name}"></b>!
            </span>
        </div>
    </nav>
</header>
