header.site-header {
    position: fixed;
    top: 0; left: 0; width: 100%;
    background: rgba(0,0,0,0.05);
    color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.user-info {
    position: absolute;
    right: 30px;
    top: 20px;
    font-weight: 500;
    color: #fff;
}

.user-info a {
    margin-left: 10px;
    color: #ddd;
    text-decoration: none;
}

.user-info a:hover {
    color: #fff;
    text-decoration: underline;
}
