<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beta Auto Service</title>
    <link rel="stylesheet" th:href="@{/css/style_header.css}">
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
</head>
<body>



<div th:replace="fragments/header :: header"></div>


<div class="overlay">
    <div class="content">
        <h1>Beta Auto Service</h1>
        <p>Управлявайте клиенти, автомобили и ремонти лесно и бързо!</p>
        <div class="buttons">
            <a th:href="@{/register}" class="btn">Customers</a>
            <a th:href="@{/cars}" class="btn">Автомобили</a>
            <a th:href="@{/services}" class="btn">Ремонти</a>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>


</html>
