<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style_header.css}">
    <link rel="stylesheet" th:href="@{/css/style_login.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer2.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="form-container">
    <h2>Login</h2>

    <form th:action="@{/login}" method="post">
        <label>Email:</label>
        <label>
            <input type="email" name="email" placeholder="Enter your email" required>
        </label>

        <label>Password:</label>
        <label>
            <input type="password" name="password" placeholder="Enter your password" required>
        </label>

        <button type="submit">Login</button>
    </form>

    <p th:if="${param.error}" style="color: red;">Invalid email or password.</p>

    <p>Don't have an account? <a href="/register">Register here</a></p>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
