<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Vehicles</title>

    <link rel="stylesheet" th:href="@{/css/style_header.css}">
    <link rel="stylesheet" th:href="@{/css/style_footer.css}">
    <link rel="stylesheet" th:href="@{/css/style_my_vehicles.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="page-container">

    <h1>My Vehicles</h1>

    <table class="vehicle-table">
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>License Plate</th>
            <th>Requests</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="vehicle : ${vehicles}">
            <td th:text="${vehicle.brand}"></td>
            <td th:text="${vehicle.model}"></td>
            <td th:text="${vehicle.year}"></td>
            <td th:text="${vehicle.registrationNumber}"></td>
            <td th:text="${requestCounts[vehicle.id]}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
