<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" th:href="@{/css/style_header.css}">
  <link rel="stylesheet" th:href="@{/css/style_register.css}">
  <link rel="stylesheet" th:href="@{/css/style_footer2.css}">
</head>
<body>

<div class="form-container">
  <h2>Customer Registration</h2>

  <form th:action="@{/register}" th:object="${registerRequest}" method="post">
    <label>First Name:</label>
    <label>
      <input type="text" th:field="*{firstName}" placeholder="Enter first name" required/>
    </label>

    <label>Last Name:</label>
    <label>
      <input type="text" th:field="*{lastName}" placeholder="Enter last name" required/>
    </label>

    <label>Username:</label>
    <label>
      <input type="text" th:field="*{username}" placeholder="Enter username" required/>
    </label>

    <label>Email:</label>
    <label>
      <input type="email" th:field="*{email}" placeholder="Enter email" required/>
    </label>

    <label>Password:</label>
    <label>
      <input type="password" th:field="*{password}" placeholder="Enter password" required/>
    </label>

    <label>Phone Number:</label>
    <label>
      <input type="text" th:field="*{phoneNumber}" placeholder="Enter phone number" required/>
    </label>

    <button type="submit">Register</button>
  </form>

  <p>Already have an account? <a th:href="@{/login}">Log in here</a></p>
</div>

</body>
</html>
